{% extends "base1.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row justify-content-center h-100">
	<div class="col-2"style="background: white;overflow-y: scroll;height: 100%">
		<h1>Teams List</h1>
		<table class="table table-striped">
		{% for i in teamnames %}
			    <thead>
			      <tr>
			        <th style="width:90%"><a href="/user_register/{{i.id}}">{{ forloop.counter }}. {{i.Team_title|title}}</a></th>
			        <th style="width:10%"><a href="/team_edit/{{i.id}}">Edit</a></th>
			      </tr>
			    </thead>  
		{%endfor%}
	</table>
	<div style="text-align:right;color:red">Total Entry Fee = Rs {{total_fee}} /- </div>
	</div>
	<div class="col-10">
		<div class="row" style="background: red">
	    	<div class="col-12">
	    		<h1 class="mt-2"style="text-align: center;">Surakunte Circket Sports</h1>
			</div>
    	</div>
		<div style="padding-top: 30;padding-left: 200;padding-right: 200;">
			<div class="row">
				<div class="col-10">
				<a href="/"class="btn btn-success">&laquo; Back</a></div>
				<div class="col-2">
				<a href="/team_register"class="btn btn-success">&#43; Create User</a></div>
			</div>
			<div style="font-size: 34;text-align: center;color: #D35110;">New Team</div>
			<form method="POST" class="form-group"style="padding-top: 60">
				{% if status %}    
		            <div class="alert alert-danger">
		                <strong>{{ status|escape }}</strong>
		            </div>
				{% endif %}
				{% if form.errors %}
				    {% for error in form.non_field_errors %}
				        <div class="alert alert-danger">
				            <strong>{{ error|escape }}</strong>
				        </div>
				    {% endfor %}
				{% endif %}
				{% csrf_token %}
				<div class="row">
					<div class="col-12">{{ form.Team_title|as_crispy_field }}</div>
					<div class="col-6">{{ form.Team_fee|as_crispy_field }}</div>
					<div class="col-6">{{ form.Captain_No|as_crispy_field }}</div>
				</div>
				<button type="submit" class="btn btn-success">Register</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}