{% extends "base1.html" %}
{% load crispy_forms_tags %}
{% block list %}
		<h1>Teams List</h1>
		<table class="table table-striped">
		{% for i in teamnames %}
			    <thead>
			      <tr>
			        <th style="width:90%"><a href="/user_register/{{i.id}}">{{ forloop.counter }}. {{i.Team_title|title}}</a></th>
			        <th style="width:10%"><a href="/team_edit/{{i.id}}">Edit</a></th>
			      </tr>
			    </thead>  
		{%endfor%}
	</table>
{% endblock %}
{% block form %}
		<div class="form_ui" style="padding-top: 20">
			<div class="row">
				<div class="col-8">
					<a href="/"class="btn btn-success">&laquo; Back</a></div>
				<div class="col-4"style="text-align: right">
					<a href="/team_register"class="btn btn-success">&#43; Create User</a>
				</div>
			</div>
			<div style="font-size: 34;text-align: center;color: #D35110;">New Team</div>
			<form method="POST" class="form-group padding60">
				{% if status %}    
		            <div class="alert alert-danger">
		                <strong>{{ status|escape }}</strong>
		            </div>
				{% endif %}
				{% if form.errors %}
				    {% for error in form.non_field_errors %}
				        <div class="alert alert-danger">
				            <strong>{{ error|escape }}</strong>
				        </div>
				    {% endfor %}
				{% endif %}
				{% csrf_token %}
				<div class="row">
					<div class="col-sm-12 col-md-12 col-md-lg-12">Team Name* : {{ form.Team_title|as_crispy_field }}</div>
					<div class="col-sm-12 col-md-6 col-md-lg-6">Entry Fee :{{ form.Team_fee|as_crispy_field }}</div>
					<div class="col-sm-12 col-md-6 col-md-lg-6">Captain Phone No :{{ form.Captain_No|as_crispy_field }}</div>
				</div>
				<button type="submit" class="btn btn-success">
					{% if team_inst %}
						Update
					{%else%}
						Register
					{%endif%}
				</button>
			</form>
		</div>
{% endblock %}