{% extends "base1.html" %}
{% load crispy_forms_tags %}

	{% block list %}
		<h1>Player List</h1>
		<table class="table table-striped">
			<thead>
			{% for i in usernames %}
			      <tr>
			        <th><a href="/user_edit/{{team_id.id}}/{{i.id}}">
			        {% if i.Wicket_keeper and i.Captain  %} {{ forloop.counter }}. {{i.Username|title}}(C)(WK)
			        {% elif i.Captain %} {{ forloop.counter }}. {{i.Username|title}}(C) 
				    {% elif i.Wicket_keeper %} {{ forloop.counter }}. {{i.Username|title}}(WK)
				     {% else %} {{ forloop.counter }}. {{i.Username|title}} {%endif%}</a></th>
			      </tr>
			{%endfor%}
			    </thead> 
		</table>
	{% endblock %}
	{% block form %}
		<div class="form_ui"style="padding-top: 20">
			<div class="row">
				<div class="col-md-8 col-lg-8 col-sm-6">
					<a href="/team_register"class="btn btn-success">&laquo; Back</a></div>
				<div class="col-md-4 col-lg-4 col-sm-6"style="text-align: right;padding-right: 20">
					<a href="/user_register/{{team_id.id}}"class="btn btn-success">&#43; Create User</a>
				</div>
			</div>
			<div style="font-size: 34;text-align: center;color: #D35110;">New User</div>
			<form method="POST" class="form-group padding60">
				{% csrf_token %}
				<div class="row">
					<div class="col-md-6 col-lg-6 col-sm-12">Team Name :{{ form.play_to|as_crispy_field }}</div>
					<div class="col-md-6 col-lg-6 col-sm-12">Player Name* :{{ form.Username|as_crispy_field }}</div>
					<div class="col-md-6 col-lg-6 col-sm-12">Aadhar No* :{{ form.AadhaarNo|as_crispy_field }}</div>
					<div class="col-md-6 col-lg-6 col-sm-12">Age :{{ form.Age|as_crispy_field }}</div>
					<div class="col-md-2 col-lg-2 col-sm-12">Captain :{{ form.Captain|as_crispy_field }}</div>
					<div class="col-md-4 col-lg-4 col-sm-12">Wicket Keeper :{{ form.Wicket_keeper|as_crispy_field }}</div>
				</div>
				<button type="submit" class="btn btn-success">
					{% if user_inst %}
						Update
					{%else%}
						Register
					{%endif%}
			</button>
			</form>
		</div>
	{% endblock %}
